* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#balloon {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;

}

#balloon:hover {
    transform: scale(1.02);
}

#balloon:active {
    transform: scale(0.98);
}